Django==5.0.7
python-dotenv==1.0.1
pyotp==2.9.0
cryptography==43.0.1
pytest==8.3.2
pytest-django==4.8.0
requests==2.32.3
qrcode[pil]==7.4.2
# Use compatible versions for Windows without C++ compiler
numpy
opencv-python-headless
Pillow
